<div class="relative px-4">
    <div class="absolute h-full border border-dashed border-opacity-20 border-secondary"></div>
    <div class="flex items-center w-full my-6 -ml-1.5">
        <div class="w-1/12 z-10">
            <div class="w-3.5 h-3.5 bg-darkGreen rounded-full"></div>
        </div>
        <div class="w-11/12">
            <p class="font-raleway font-medium text-lg">
                Product Owner I - <a href="https://www.linkedin.com/company/sumadihn/" target="_blank" class="text-darkGreen font-raleway text-lg font-bold">SUMADI</a>
            </p>
            <p class="font-raleway font-medium text-lg text-gray-500">05/2023 - 10/2023</p>
        </div>
    </div>
    <div class="flex items-center w-full my-6 -ml-1.5">
        <div class="w-1/12 z-10">
            <div class="w-3.5 h-3.5 bg-darkGreen rounded-full"></div>
        </div>
        <div class="w-11/12">
            <p class="font-raleway font-medium text-lg">
                Senior Web Application Developer - <a href="https://www.linkedin.com/company/sumadihn/" target="_blank" class="text-darkGreen font-raleway text-lg font-bold">SUMADI</a>
            </p>
            <p class="font-raleway font-medium text-lg">05/2022 - 05/2023</p>
        </div>
    </div>
    <div class="flex items-center w-full my-6 -ml-1.5">
        <div class="w-1/12 z-10">
            <div class="w-3.5 h-3.5 bg-darkGreen rounded-full"></div>
        </div>
        <div class="w-11/12">
            <p class="font-raleway font-medium text-lg">
                Web Application Developer - <a href="https://www.linkedin.com/company/sumadihn/" target="_blank" class="text-darkGreen font-raleway text-lg font-bold">SUMADI</a>
            </p>
            <p class="font-raleway font-medium text-lg">04/2021 - 05/2022</p>
        </div>
    </div>
    <div class="flex items-center w-full my-6 -ml-1.5">
        <div class="w-1/12 z-10">
            <div class="w-3.5 h-3.5 bg-darkGreen rounded-full"></div>
        </div>
        <div class="w-11/12">
            <p class="font-raleway font-medium text-lg">
                Jr Development Officer - <a href="https://www.linkedin.com/company/banco-ficohsa/" target="_blank" class="text-darkGreen font-raleway text-lg font-bold">Grupo Financiero Ficohsa</a>
            </p>
            <p class="font-raleway font-medium text-lg">01/2020 - 04/2021</p>
        </div>
    </div>
</div>