<div class="bg-gray">
    <div class="scroll-class bg-white h-screen flex flex-col max-w-3xl mx-auto overflow-y-scroll">
      <app-header />
      <app-layout [flex]="'flex-col'" [title]="'About me'">
        <p class="font-raleway font-medium text-lg">I’m a software developer located in Honduras with a strong background 
          in web development and desktop applications. And enthusiastinc of cloud 
          engineering and also pasionated by face new challenges every day
        </p>
      </app-layout>
      <app-layout [flex]="'flex-col'" [title]="'Experience'">
        <app-experience-timeline />
      </app-layout>
      <app-layout [flex]="'flex-col'" [title]="'Projects'">
        <app-error-message [showError]="showError" />
        <app-project class="w-full my-2"
          *ngFor="let repo of repos"
          [repoData]="repo"
        />
      </app-layout>
      <app-layout [flex]="'flex-row'" [title]="'Technical stack'">
        <app-tech-stack class="w-1/2 mx-auto" [stackList]="programingLanguageList" [title]="'Programing Languages'"/>
        <app-tech-stack class="w-1/2 mx-auto" [stackList]="frameworksList" [title]="'Frameworks'"/>
        <app-tech-stack class="w-1/2 mx-auto" [stackList]="databasesList" [title]="'Databases'"/>
        <app-tech-stack class="w-1/2 mx-auto" [stackList]="othersList" [title]="'Others'"/>
      </app-layout>
      <app-layout [flex]="'flex-col'" [title]="'Contact'">
        <p class="font-raleway font-medium text-lg mb-12">If you want to get in touch with me you can do it by email: <span class="font-bold">{{ 'dev.hector.rodriguez@gmail.com' }}</span></p>
      </app-layout>
      <app-loading [showSpinner]="loading"/>
      <div>
        <div class="solid-separator"></div>
      </div>
    </div>
  </div>